.appBtn {
width: 100%;
background-color: rgb(73, 85, 97);
height: 60px;
}
.appBtn button{
    text-align: center;
    margin: 15px;
    margin-right: 5px;
    background-color: rgb(73, 85, 97);
    color: gray;
    border: 0px;
}






